.table-loan td {
    /* background-color: gray; */
}

@media (max-width: 768px) {
      table {
        display: block;
        width: 100%;
      }

      thead {
        display: none; /* Hide header for mobile */
      }

      tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }

      td {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #e0e0e0;
      }

      td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
      }

      td:last-child {
        border-bottom: none;
      }
    }